<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/media/favicon.ico">

    <title>{% block title %}ShortCut Urls{% endblock %}</title>
    {% load bootstrap3%}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <style>
        body {
            padding-top: 50px;
        }
        .starter-template {
            padding: 3rem 1.5rem;
            text-align: center;
        }
    </style>
</head>

<body>

<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->

</nav>

<div class="container">

    <div class="starter-template">
        {% block content %}
            <h1>Bootstrap starter template</h1>
            <p class="lead">Use this document as a way to quickly start any new project.<br> All you get is this text and a
            mostly barebones HTML document.</p>
        {% endblock %}

    </div>

</div>



</body>
</html>
